/* 基础样式*/
* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
::-webkit-scrollbar {
    width: 4px;
    height: 1px;
}
::-webkit-scrollbar-thumb {
    background: #040a06;
    border-radius: 2px;
}
*::selection {
    color: #000000;
    background-color: #0d7b1c;
}
html{
    scroll-behavior: smooth;
	color-scheme: dark;
}
html.is-changing .transition-fade {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
}
/* 确保动画平滑结束 */
html.is-changing .transition-fade:not(.no-transition) {
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
body {
	font-family: 'wodeziti', sans-serif;
	background-color: #000;
	color: #A5A5A5;
	padding: .5rem;
}
.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp,1);
    text-overflow: ellipsis;
    overflow: hidden;
}
.nav-fixed {
    --header-nav:3rem;
    --header--nav:-3rem;
}
/* 懒加载 */
loaed{
    -trfm: scale(1.1);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .65em;
    inset: 0;
    width: fit-content;
    min-width: 5rem;
    height: 3em;
    line-height: 1;
    padding: 1em;
    margin: auto;
    gap: 0.5em;
    color: #A5A5A5;
    border: thin solid #A5A5A5;
    border-radius: 2em;
    background: #000;
    animation: opacity .5s .5s backwards, transform 1s .5s backwards;
    transform-origin: bottom;
    pointer-events: none;
    z-index: 2;
    transition: .5s;
}
loaed::before {
    content: "";
    border-top: 2px solid;
    border-radius: 50%;
    width: 1em;
    aspect-ratio: 1;
    animation: rotate 2s linear infinite;
}
.loaded ~ loaed,
.loaded loaed,
.lazy-loaded loaed,
.lazy-loaded ~ loaed{
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
}
/* 标题样式*/
h1, h2, h3, h4 {
	font-weight: 500;
	margin-bottom: 15px;
}
h1 {
	font-size: 2.5rem;
	padding-bottom: 10px;
	margin-bottom: 25px;
}
h2 {
	font-size: 1.8rem;
	margin-top: 30px;
}
h3 {
	font-size: 1.4rem;
}
/* 文本样式*/
p {
	margin-bottom: 15px;
}

/* 链接样式*/
a {
	color: inherit;
	text-decoration: none;
	position: relative;
}
.text-link{
    color: #0d7b1c;
    position: relative;
}
.text-link:after {
    content: "";
    height: 0.1rem;
    width: 0;
    background-color: #0d7b1c;
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.text-link:hover:after {
    width: 100%;
}
.hover-link{
    color: #A5A5A5;
}
.hover-link:hover{
    color: #E0E0E0;
}
.hidden{
    display: none;
}
/* 动画 */
.transition-fade {
    opacity: 1;
            transform: translateY(0) scale(1);
            transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            will-change: transform, opacity; /* 启用GPU加速 */
            backface-visibility: hidden; /* 防止闪烁 */
            perspective: 1000px; /* 启用3D加速 */
}
/* 导航 */
.site-nav {
    position: fixed;
    inset: .5rem;
    height: var(--header-nav,4rem);
    z-index: 9;
    background-color: #121212;
    border-radius: 1rem;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .6s;
}
.nav-fixed .site-nav{
    top: 0;
    border-radius:0 0 1rem 1rem;
}
.site-nav__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex: 1;
    padding: 1rem;
    color: #A5A5A5;
    font-size: .75em;
}
.site-nav__menu{
    display: flex;
    gap: 1rem;
}
.site-nav__menu .site-nav__dropdown{
    display: flex;
    gap: 1rem;
    list-style: none;
}
.site-nav__menu .site-nav__dropdown li{
    transition: .3s;
}
.site-nav__menu .site-nav__dropdown li:not(.mm-active):hover a{
    color: #E0E0E0;
}
.site-nav__menu .site-nav__dropdown li.mm-active{
    color: #0d7b1c;
}
.site-nav__inner button{
    border: 0;
    background: none;
    color: #A5A5A5;
    margin: 0.2rem;
    z-index: 9;
}
.site-nav__inner button i {
    font-size: 1.5em;
}
.content{
    position: relative;
    margin-block-start: 4.5rem;
}
.site-nav__actions {
    display: flex;
    align-items: center;
    gap: .5rem;
}
/* header */
.banner--love{
    position: relative;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: var(--img);
    background-position: bottom;
}
.banner--love::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAKUlEQVQImU3IMREAIAgAwJfNkQCEsH8cijjpMf6vnXlQaIiJFx+omEBfmqIEZLe2jzcAAAAASUVORK5CYII=);
}
.banner--love::after {
    content: '';
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #121212, transparent);
}
.love-bar{
    position: relative;
    display: none;
    z-index: 1;
}
.love-bar .love-bar__avatars{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.love-bar .love-bar__avatars img.love-bar__avatar{
    width: 68px;
    height: 68px;
    border-radius: 50%;
}
.love-bar .love-bar__avatars img.love-bar__logo{
    width: 52px;
    height: 52px;
    border-radius: 50%;
}
.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background: -webkit-gradient(linear, left bottom, left top, from(#121212), color-stop(36%, rgba(18, 18, 18, 0.3)), to(rgba(18, 18, 18, 0))); 
    background: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0.3) 36%, rgba(18, 18, 18, 0) 100%);
}
.post-content .images-main {
    position: relative;
}
.post-content .post-images {
    position: relative;
    margin-block-end: .5rem;
}
.post-content .post-images .post-images-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    width: 100%;
}
.carousel-controls{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    display: flex;
    gap: .5rem;
    opacity: 0;
    padding: 0 1rem;
    justify-content: space-between;
    -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.post-images:hover .carousel-controls{
    opacity: 1;
    padding: 0;
}
.carousel-controls button{
    border: 0;
    background: none;
    width: 35px;
    height: 35px;
    line-height: 1;
    border-radius: 50%;
    display: flex;
    color: #A5A5A5;
    align-items: center;
    justify-content: center;
    background-color: rgba(224, 224, 224, 0.1);
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.carousel-controls button:hover {
    color: #E0E0E0 !important;
    background-color: rgba(224, 224, 224, 0.2) !important;
}
.post-content .post-images .gallery-item{
    position: relative;
}
.post-content .post-images .gallery-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAKUlEQVQImU3IMREAIAgAwJfNkQCEsH8cijjpMf6vnXlQaIiJFx+omEBfmqIEZLe2jzcAAAAASUVORK5CYII=);
}
.page-img_content .images-grid {
    position: relative;
    margin-inline-end: -.5rem;
    margin-inline-start: -.5rem;
}
.page-img_content .controls{
    z-index: 1;
}
.page-img_content .controls button{
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    border: 0;
    background: none;
    opacity: 0;
    width: 35px;
    height: 35px;
    line-height: 1;
    border-radius: 50%;
    display: flex;
    color: #A5A5A5;
    align-items: center;
    justify-content: center;
    background-color: rgba(224, 224, 224, 0.1);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: translateX(-1rem) scale(0.5);
    transform: translateX(-1rem) scale(0.5);
}
.post-content .images-main .controls button:hover{
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
.post-content .images-main:hover .controls button{
    padding: 0 1rem;
    opacity: 1;
    transform:translateX(0) scale(1);
}
.post-content .images-main:hover button.postimages-prev{
    transform:rotate(180deg) translateX(0) scale(1);
}
.page-img_content .controls button.postimages-prev{
    transform: rotate(180deg);
    left: 1rem;
    right: auto;
}
.page-img_content .images-grid .image-item{
    position: relative;
    margin: 0 .5rem .5rem .5rem;
    border-radius: 1rem;
    overflow: hidden;
}
.page-img_content .images-grid .image-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAKUlEQVQImU3IMREAIAgAwJfNkQCEsH8cijjpMf6vnXlQaIiJFx+omEBfmqIEZLe2jzcAAAAASUVORK5CYII=);
}
.page-img_content .images-grid img{
    width: 100%;
    height: 100%;
    min-height: 25vh;
    max-height: 25vh;
    object-fit: cover;
}
.post-images li{
    list-style: none;
}
.post-content .post-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 40vh;
    min-height: 40vh;
    border-radius: 1rem;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
}
/* Category */
.page-content{
    background-color: #121212;
    border-radius: 1rem;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    overflow: hidden;
}
.cat-group{
    position: relative;
    padding:0 1rem;
    color: #E0E0E0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 50rem;
}
.cat-group .cat-header{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .5rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 4rem;
}
.cat-group .cat-header__title{
    font-size: 1.5em;
    color: #E0E0E0;
    line-height: 100%;
    margin: 0;
    white-space: nowrap;
    text-transform: uppercase;
}
.cat-group .cat-header__line{
    border-top: dotted 2px #2C2C2C;
    width: 100%;
    margin-bottom: 0.4rem;
}
.cat-group .cat-header__count{
    position: relative;
}
.cat-group__list{
    list-style: none;
    counter-reset:cat-group__list;
}
.cat-group .cat-header__count::before {
    counter-increment: cat-group__list;
    content: counter(cat-group__list, decimal-leading-zero);
    color: #2C2C2C;
    font-size: 1em;
}
.cat-group__list .cat-group__item .cat-posts{
    counter-reset:cat-posts;
    margin-bottom: 6.5rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr); /* 2 列，等宽 */
}
.cat-group__item .cat-posts__item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
    list-style: none;
    border-radius: .5rem;
    background-color: #1A1A1A;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
}
.cat-group__item .cat-posts__item h3{
    flex: 100%;
    font-size: 1em;
    margin-bottom: 1rem;
}
.cat-group__item .cat-posts__item h3 span{
    position: relative;
    color: #0d7b1c;
}
.cat-group__item .cat-posts__item h3 span::before {
    counter-increment: cat-posts;
    content: counter(cat-posts, decimal-leading-zero) ". ";
}
.cat-group__item .cat-posts__item p{
    --line-clamp:3;
    flex: 100%;
    font-size: .65em;
    font-weight: 300;
    line-height: 2;
    margin-bottom: 1.3rem;
    color: #A5A5A5;
}
.cat-group__item .cat-posts__item > a {
    position: relative;
    font-size: .65em;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.post-content .page-content{
    padding-top: 8rem;
    padding-bottom: 6.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.post-content .page-content .post{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 50rem;
    color: #E0E0E0;
}
.post .post__header{
    color: #E0E0E0;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.post .post__header .post__title{
    font-size: 2.8rem;
    margin: 0;
    padding: 0;
}
.post .post__header .post__meta > *{
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    height: 1.5rem;
    gap: .2rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0.3rem;
    padding: 0 1rem;
    font-size: .65em;
    line-height: 1;
    letter-spacing: 0.15rem;
}
.post .post__header .post__meta .post__category{
    background-color: #0d7b1c;
    color: #121212;
}
.page-content .post .post__content,.selftalk-body{
    color: #A5A5A5;
    font-size: 1rem;
    font-weight: 300;
    line-height: 170%;
    position: relative;
}
.post__content .meting-wrapper{
    position: relative;
    width: 100%;
    display: block;
}
.page-content .post__content > .protected p:not([class]){
    background-color: #121212;
    border-radius: 1rem;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
}
.page-content .post__content > .protected p:not([class]) input{
    background-color: #1A1A1A;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    padding: 0 .5rem;
    border-radius: 0.5rem;
    color: #E0E0E0;
    min-height: 2rem;
    width: 100%;
}
.page-content .post__content > .protected p:not([class]) .submit{
    background-color: #0d7b1c;
    color: #121212;
    font-size: .65em;
    width: 6rem;
    transition: .3s;
}
.page-content .post__content > .protected p:not([class]) .submit:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
.page-content .post .post__content > *{
    margin-bottom: 3rem;
}
.page-content .post .post__content > media-embed {
    position: relative;
    width: 100%;
    height: 40vh;
    display: block;
}
.page-content .post .post__content iframe,
.page-content .post .post__content video{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 0.5rem;
}
.page-content .post .post__content > blockquote{
    background-color: #1A1A1A;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 600;
    border: solid 0.1rem #1A1A1A;
    transition: .3s;
}
.page-content .post .post__content > blockquote:hover{
    background: #000;
}
.page-content .post .post__content code:not([class]){
    background: #0d7b1c;
    color: #121212;
    padding: 0.2rem 0.5rem;
    line-height: 0;
    font-weight: 600;
    border-radius: 2em;
}
.page-content .post .post__content strong{
    color: #E0E0E0;
    font-size: 600;
}
.page-content .post .post__content > .gallery-item .work-card{
    position: relative;
}
.page-main .gallery-item .mil-descr{
    position: absolute;
    opacity: 0;
    top: 1rem;
    right: 1rem;
    width: 35px;
    height: 35px;
    line-height: 1;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    color: #A5A5A5;
    align-items: center;
    justify-content: center;
    background-color: rgba(224, 224, 224, 0.1);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: translateY(-1rem) scale(0.5);
    transform: translateY(-1rem) scale(0.5);
}
.page-main .gallery-item .mil-descr button{
    background: none;
    border: 0;
    cursor: pointer;
    color:inherit;
    font-size: 1.3rem;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.page-main .gallery-item .mil-descr:hover{
    color: #E0E0E0 !important;
    background-color: rgba(224, 224, 224, 0.2) !important;
}
.page-main .gallery-item:hover .mil-descr{
    opacity: 1;
    transform:none;
}
.lazy-item{
    position: relative;
}
.page-content .post .post__content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    border-radius: 1rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.page-content .post .post__content img:hover{
    -webkit-transform: scale(1);
    transform: scale(1);
}
.page-content .post .post-divider{
    margin: 6rem 0;
    border-top: dotted 2px #2C2C2C;
    width: 100%;
}
.page-content .post .post-footer{
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    font-weight: 600;
    font-size: .65em;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    white-space: nowrap;
}
.page-content .post .post-footer span{
    color: #0d7b1c;
}
.category-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    width: 100%;
    align-items: center;
    align-content: center;
}
.category-list .category-item{
    box-sizing: border-box;
    position: relative;
    list-style: none;
    background-color: #121212;
    border-radius: 1rem;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    overflow: hidden;
    width: 100%;
    min-height: 13rem;
}
.category-list .category-item img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.category-item .category-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: .5rem;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, rgba(18, 18, 18, 0.9)), to(rgba(18, 18, 18, 0.2)));
    background: linear-gradient(0deg, rgba(18, 18, 18, 0.9) 40%, rgba(18, 18, 18, 0.2) 100%);
    -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.category-item .category-info .category-title{
    position: absolute;
    bottom: -2rem;
    transition: .3s;
}
.category-item .category-info .category-heading{
    color: #E0E0E0;
    font-size: 1em;
    line-height: 150%;
}
.category-item:hover .category-info .category-title{
    bottom: .5rem;
}
.category-item .category-info .category-link{
    position: relative;
    font-size: .65em;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    color: #0d7b1c;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.category-item:hover .category-info .category-link{
    opacity: 1;
    transform:none;
}
.category-item .category-info .category-link:hover:after {
    width: 100%;
}
.category-item .category-info .category-link:after {
    content: "";
    height: 0.1rem;
    width: 0;
    background-color: #0d7b1c;
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.page-main{
    display: flex;
    gap: .5rem;
}
.page-main .article-video{
    width: 100%;
    background-color: #121212;
    border-radius: 1rem;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    padding: 2rem;
    margin-block-end: .5rem;
    transition: .3s;
}
.page-main .article-video iframe{
    border-radius: 1rem;
}
.page-main .article-video .episodes .box{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    margin-block-start: .5rem;
}
.article-video .episodes .item {
    padding: .5rem;
    border-radius: .5rem;
    text-align: center;
    cursor: pointer;
    font-size: .865em;
    font-weight: 600;
    transition: all 0.3s ease;
}
.article-video .episodes .item.active{
    color: #121212;
    background-color: #0d7b1c;
}
.page-content .schedule-item{
    list-style: none;
    padding: 2rem 2rem 1rem 1rem;
    border-radius: 0.5rem;
    background-color: #1A1A1A;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-block-end: 1rem;
}
.page-content .compass-header p{
    font-size: .65em;
    font-weight: 300;
    line-height: 2;
    margin-bottom: 1.3rem;
    color: #A5A5A5;
}
.page-content .schedule-list{
    counter-reset: schedule-list;
    margin-bottom: 6.5rem;
}
.page-content .schedule-list .schedule-header .schedule-title{
    font-size: 1.2em;
    color: #E0E0E0;
    margin-bottom: 1.5rem;
}
.page-content .schedule-list .schedule-header .schedule-meta{
    display: flex;
    align-items: center;
}
.page-content .schedule-list .schedule-header span{
    position: relative;
    color: #0d7b1c;
}
.page-content .schedule-list .schedule-header span::before {
    counter-increment: schedule-list;
    content: counter(schedule-list, decimal-leading-zero) ". ";
}

.page-content .schedule-list .schedule-header .schedule-meta a{
    font-size: .65em;
    font-weight: 300;
    line-height: 1;
}
.page-content .schedule-list .schedule-header .schedule-date{
    margin-right: .5rem;
    background-color: #2C2C2C;
    color: #E0E0E0;
    height: 1.8rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0 .8rem;
    font-size: .65rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.page-content .schedule-list .schedule-item .schedule-note{
    width: 50%;
    margin-left: 1.5rem;
    font-size: .65em;
    color: #A5A5A5;
}
.cat-group__item .commentator-comment{
    position: relative;
    margin-bottom: 6.5rem;
}

.commentator-comment .comment-chat{
    list-style: none;
    padding: 2rem 2rem 1rem 1rem;
    border-radius: 0.5rem;
    background-color: #1A1A1A;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    margin-block-end: 1rem;
}
.commentator-comment .comment-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.commentator-comment .comment-chat .comment-header img{
    width: 3rem;
    height: 3rem;
}
.commentator-comment .comment-chat .comment-header{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-block-end: 1rem;
    flex: 100%;
}
.commentator-comment .comment-chat .comment-meta{
    gap: .1rem;
    align-items: flex-start;
    flex-direction: column;
}
.commentator-comment .comment-chat .comment-meta .comment-author{
    color: #E0E0E0;
    font-size: 1em;
}
.commentator-comment .comment-chat .comment-meta time{
    font-size: .865em;
}
.commentator-comment .comment-item .comment-content{
    flex: 100%;
}
.commentator-comment .comment-item .comment-footer{
    display: flex;
    justify-content: flex-end;
    font-size: .65em;
    flex: 100%;
    text-align: end;
    line-height: 1;
}
.commentator-comment .comment-item .comment-footer a{
    color: #A5A5A5;
    position: relative;
    font-size: .65em;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.commentator-comment .comment-item .comment-footer a:after {
    content: "";
    height: 0.15rem;
    width: 0;
    background-color: #0d7b1c;
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.commentator-comment .comment-item .comment-footer a:hover:after {
    width: 100%;
}
.commentator-slick .slick-dots{
    position: absolute;
    bottom: -1rem;
    left: 0;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto !important;
    padding: 0;
    list-style: none !important;
    user-select: none;
}
.commentator-comment .controls{
    position: absolute;
    bottom: -1rem;
    right: 0;
}
.commentator-comment .controls button{
    border: 0;
    background: none;
    border-radius: 50%;
    pointer-events: all;
    cursor: pointer;
    color: #A5A5A5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1rem;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    background-color: #1A1A1A;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    padding: .2rem;
}
.commentator-comment .controls button:hover{
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
.commentator-comment .slick-dots li {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s;
}
.commentator-comment .slick-dots li:hover button{
    opacity: .5;
}
.commentator-comment .slick-dots li.slick-active button{
    opacity: 1;
    width: 8px;
    border-radius: 50%;
}
.commentator-comment .slick-dots li button {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 25px;
    height: 8px;
    border-radius: 2rem;
    background-color: #0d7b1c;
    line-height: 0;
    font-size: 0;
    opacity: .1;
    user-select: none;
    cursor: pointer;
    pointer-events: none;
    transition: .2s;
}
.cat-group__item .cat__quote{
    color: #A5A5A5;
    font-size: .865em;
    font-weight: 300;
    line-height: 170%;
    margin-block-start:4rem;
    margin-block-end:6.5rem;
}
.page-link-title{
    background-color: #121212;
    border-radius: 1rem;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    padding: 1rem 2rem;
    color: #A5A5A5;
    font-size: 1rem;
    font-weight: 300;
    line-height: 170%;
    height: fit-content;
    margin-block-end: 0.5rem;
}
.page-link-title h3,.page-link-title p{
    margin: 0;
    text-align: center;
}
.page-link-title p{
    font-size: .65em;
}
.page-link .link-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    width: 100%;
    margin: 0.5rem 0;
}
.page-link .link-item {
    list-style: none;
    background-color: #121212;
    border-radius: 1rem;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    padding: 1rem;
}
.page-link .link-item .link-content{
    display: flex;
    gap: .5rem;
}
.page-link .link-item .link-content img{
    width: 35px;
    height: 35px;
    border-radius: 1rem;
    object-fit: cover;
}
.page-link .link-item .link-info h4{
    color: #E0E0E0;
    line-height: 1;
    margin-bottom:.5rem;
}
.page-link .link-item .link-info .link-description{
    position: relative;
    color: #A5A5A5;
    margin: 0;
    font-size: .65em;
    font-weight: 300;
    line-height: 1;
}
.page-link .link-item .author-description{
    background-color: #1A1A1A;
    border-radius: 1rem;
    border: solid 0.1rem #1A1A1A;
    overflow: hidden;
    font-size: .65em;
    color: #A5A5A5;
    margin: .2rem 0;
    padding:0 .5rem;
}
.page-link .link-item .author-description p{
    margin: .2rem 0;
}
.page-link .link-item .author-bio{
    position: relative;
    -webkit-transition: 0.2s 
    cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s 
    cubic-bezier(0, 0, 0.3642, 1);
}
.rss,.today-text{
    position: absolute;
    right: .5rem;
    color: #A5A5A5;
    opacity: .05;
    font-size: 2em;
    line-height: 1;
    font-weight: 600;
}
.today-text{
    color: #0d7b1c;
    opacity: .1;
}
.page-link .link-item .author-bio:hover{
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
.link-article .post__content{
    background-color: #121212;
    border-radius: 1rem;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    padding: 2rem;
    color: #A5A5A5;
    font-size: 1rem;
    font-weight: 300;
    line-height: 170%;
    height: fit-content;
    margin-block-end: 0.5rem;
}
/* comments */
.page .page-comments{
    position: relative;
    max-width: none;
    margin-block-start: .5rem;
}
.page-comments{
    position: sticky;
    top: calc(var(--header-nav) + .5rem);
    max-width: 28rem;
    width: 100%;
    background-color: #121212;
    border-radius: 1rem;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    padding: 2rem;
    flex-shrink: 0;
    height: fit-content;
    max-height: calc(100vh - calc(var(--nav-height, 4rem) + .5rem));
    overflow-y: auto;
    overflow-x: hidden;
    transition: .3s;
    scrollbar-width: none;
}
.page-comments .vcount{
    color: #A5A5A5;
    font-size: .75em;
    margin: 0;
}
.comment-userinfo__row{
    display: flex;
    flex-flow: wrap;
    gap: 0.5rem;
    flex: auto;
}
.dynamic .comment-form--root .comment-userinfo__row{
    display: none;
}
.comment-form__editor {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0 0;
}
.comment-editor__input {
    position: relative;
    flex: 100%;
    background-color: #1A1A1A;
    border: solid 0.1rem #1A1A1A;
    border-radius: 0.5rem;
}
.Comments-warpper textarea{
    min-height: 5rem;
    width: 100%;
    outline: inherit;
    padding: .5rem;
    color: #E0E0E0;
    line-height: 1.8;
    font-size: .865em;
    scrollbar-width: none;
    background-color: #1A1A1A;
    border:none;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.Comments-warpper input{
    min-height: 3rem;
    width: 100%;
    flex: 8rem;
    outline: inherit;
    background-color: #1A1A1A;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    padding: 0 .5rem;
    border-radius: 0.5rem;
    color: #E0E0E0;
    vertical-align: middle;
    appearance: none;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.comment-editor__input .comment-toolbar__cancel-btn{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: .65em;
    color: #E0E0E0;
    background-color: hsl(0deg 0% 7.06% / 25%);
    border-radius: 0 .5rem;
    overflow: hidden;
    padding: .2rem .5rem;
    line-height: 1.5;
}
.Comments-warpper .comment-form__footer button{
    width: 100%;
    cursor: pointer;
    height: 2.5rem;
    border: none;
    background-color: #0d7b1c;
    padding: 0 3rem;
    color: #121212;
    border-radius: 0.5rem;
    font-size: .865em;
    font-weight: 600;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.Comments-warpper .comment-form__footer button:hover{
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
.comment-emoji {
    border-top: dotted 2px #2C2C2C;
    line-height: 1;
    background: 0;
    display: flex;
    align-items: center;
    font-size: .75em;
    height: 3em;
    gap: 0.5em;
    padding: 0.25em;
    border-radius: 2em;
}
.comment_emoji_block {
    display: grid;
    place-items: center;
    grid: auto-flow 2em / repeat(auto-fill, minmax(1.75em, 1fr));
    font-size: 1.5em;
    flex: 1;
    height: inherit;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    overscroll-behavior: contain;
    overflow: hidden auto;
    transition: .3s;
}
.comment_emoji_block span{
    font-style: normal;
    scroll-snap-align: center;
    user-select: none;
    cursor: pointer;
    transition: .3s;
    filter: grayscale(1) opacity(.5);
}
.comment_emoji_block span:hover {
    scale: 1.2;
    filter: none;
}
.comment-emoji .emoji-btn {
    color: #fff;
    padding: 0.2rem;
    margin: 0 0.25rem 0 0;
    background: #0d7b1c;
    border-radius: 50%;
    transform: rotate(45deg);
    transition: .3s;
}
.comment-emoji .emoji-btn:hover{
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
.comment-emoji.show .comment_emoji_block {
    height: 6em;
    border-radius: 1rem;
    background-color: #1A1A1A;
    border: dotted 2px #2C2C2C;
    scroll-snap-type: none;
    z-index: 3;
}
.comment-emoji.show .comment_emoji_block span{
    scale: 1.2;
    filter: none;
}
.comment-emoji.show .emoji-btn{
    transform: none;
}
.v-comment{
    margin: 2rem 0;
}
.Comments-lists, .Comments-lists .comment-list{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    list-style: none;
}
.comment-list .m-comments-list {
    padding: 1rem;
    background: #1A1A1A;
    border-radius: .5rem;
    break-inside: avoid;
    overflow: hidden;
    transition: .5s;
}
@supports (animation-timeline: view()){
    .m-comments-list {
        --trfm: scale(.85);
        transform: none;
        animation: transform 1s;
        animation-timeline: view(block);
        animation-range: cover -10% cover 30%;
    }
}
.m-comments-list .comment-card{
    display: flex;
    flex-flow: column;
    gap: 0.5rem 1rem;
}
.m-comments-list .comment-header{
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.75em;
    text-transform: capitalize;
    font-weight: 600;
}
.comment-author{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment-author .comment-reply-btn{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(0deg 0% 0% / 60%);
    border-radius: 50%;
    color: #A5A5A5;
    opacity: 0;
    transition: .3s;
}
.m-comments-list:hover .comment-author .comment-reply-btn{
    opacity: 1;
}
.comment-header img{
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    position: relative;
}
.comment-header .comment-meta{
    color: #A5A5A5;
    font-size: .785rem;
    font-weight: 300;
    line-height: 170%;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.comment-header .comments-at{
    background: #000000;
    font-size: .65em;
    padding: 0 .5rem;
    border-radius: 2em;
    line-height: 2;
}
.comment-meta b{
    color: #E0E0E0;
}
.comment-content{
    position: relative;
    color: #A5A5A5;
    font-size: .85em;
    font-weight: 300;
    line-height: 170%;
}
.comment-content p{
    margin:.5rem 0;
    line-height: 1.5;
    word-break: break-all;
    overflow-wrap: break-word;
}
.comment-children .comment-list .m-comments-list{
    margin: 1rem -1rem -1rem 0;
    padding: 1rem 1rem 1rem 0;
    border-top: dotted 2px #2C2C2C;
    border-radius: 0 2rem;
}
.v-comment .paging .page-navigator{
    list-style: none;
    display: flex;
    gap: .5rem;
    justify-content: center;
}
.v-comment .paging .page-navigator li{
    color: #E0E0E0;
    height: 1.8rem;
    width: 1.8rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    font-size: .65rem;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
    justify-content: center;
    background-color: #2C2C2C;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.v-comment .paging .page-navigator li.prev{
    transform: rotate(180deg);
}
.v-comment .paging .page-navigator li.current{
    background-color: #0d7b1c;
    color: #121212;
}
.v-comment .paging .page-navigator li:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
.v-comment .comment-none {
    height: 20vh;
    display: flex;
    color: #A5A5A5;
    font-size: 1rem;
    font-weight: 300;
    line-height: 170%;
    align-items: center;
    justify-content: center;
}
.category .page-navigator {
    list-style: none;
    position: absolute;
    bottom: .5rem;
    display: flex;
    gap: .5rem;
    padding-block-start: 1rem;
    align-items: center;
}
.category .page-navigator .pagination-prve{
    transform: rotate(180deg);
}
.category .page-navigator span{
    font-size: .85em;
    font-weight: 600;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    white-space: nowrap;
}
.category .page-navigator a{
    color: inherit;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.category .page-navigator a:hover{
    color: #E0E0E0;
}
.category .page-navigator a:hover i{
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    color: #0d7b1c;
}
.category .page-navigator li:not([class]){
    font-size: .6em;
    width: 30px;
    height: 30px;
}
.category .page-navigator li.current{
    font-size: .6em;
    width: 30px;
    height: 30px;
    color:#0d7b1c;
    border: solid 0.1rem #0d7b1c;
}
.category .page-navigator li{
    width: 35px;
    height: 35px;
    background: none;
    border-radius: 50%;
    pointer-events: all;
    cursor: pointer;
    color: #A5A5A5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1rem;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    background-color: #1A1A1A;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
}
.category .site-footer {
    display: none;
}
.category .page-main{
    display: flex;
    gap: .5rem;
    min-height: 90vh;
}
.category .category_left{
    position: sticky;
    top: calc(var(--header-nav,4rem) + 1rem);
    max-width: 18rem;
    height: calc(100vh - 10rem);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.category .category_left h3{
    position: relative;
    color: #0d7b1c;
    font-size: 2em;
}
.category .category_left .num{
    position: absolute;
    top: 0;
    padding: .5rem;
    font-size: .15em;
}
.category .category_left p{
    color: #A5A5A5;
    font-size: .75em;
}
.dyn-comment-respond{
    background-color: #121212;
    border-radius: 1rem;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    overflow: hidden;
    padding: 2rem;
}
.dyn-comment-respond .vcomment{
    position: relative;
    padding: 0 1rem;
    color: #E0E0E0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 50rem;
}
.dyn-comment-post {
    width: 100%;
    background-color: #121212;
    border-radius: 1rem;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    padding: 2rem;
}
.dyn-post-hidden-fields,.dyn-post-head{
    display: flex;
    flex-flow: wrap;
    gap: 0.5rem;
    flex: auto;
    margin-block-end: .5rem;
}
.dyn-post-hidden-fields .dyn-form-list,.dyn-post-foot,
.dyn-post-head .dyn-form-list{
    width: 100%;
    flex: 8rem;
    outline: inherit;
    vertical-align: middle;
    appearance: none;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.dyn-comment-post-form{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0 0;
}
.dyn-post-head{
    flex: 1;
}
.dyn-form-list input,
.dyn-form-list select,
.dyn-foot-right .dyn-foot-left{
    min-height: 3rem;
    width: 100%;
    outline: inherit;
    background-color: #1A1A1A;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    color: #E0E0E0;
}
.comment-form__footer.comment-footer.dyn-post-submit{
    flex: 100%;
}
.dyn-post-submit button {
    width: 100%;
    cursor: pointer;
    height: 3rem;
    border: none;
    background-color: #0d7b1c;
    padding: 0 3rem;
    color: #121212;
    border-radius: 0.5rem;
    font-size: .865em;
    font-weight: 600;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.dyn-post-submit button:hover{
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
.dyn-post-body{
    position: relative;
    flex: 100%;
    width: 100%;
    background-color: #1A1A1A;
    border: solid 0.1rem #1A1A1A;
    border-radius: 0.5rem;
}
.dyn-post-body textarea{
    min-height: 5rem;
    outline: inherit;
    padding: 0.5rem;
    width: 100%;
    color: #E0E0E0;
    line-height: 1.8;
    font-size: .865em;
    border-radius: 0.5rem;
    scrollbar-width: none;
    background-color: #1A1A1A;
    border: none;
    -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}
.dyn-comment-children .item{
    display: flex;
    gap: .3rem;
    font-size: .785em;
}
.dyn-comment-children img{
    border-radius: 50%;
}
.dyn-comment-parent{
    padding: 1rem;
    list-style: none;
    background: #121212;
    border-radius: 1rem;
    break-inside: avoid;
    overflow: hidden;
    margin-block-end: .5rem;
    transition: .5s;
}
.dyn-comment-children {
    margin: 1rem -1rem -1rem 0;
    padding: 1rem 1rem 1rem 0;
    border-top: dotted 2px #2C2C2C;
    border-radius: 0 2rem;
}
.dyn-comment-post-wrapper{
    background-color: #121212;
    border-radius: 1rem;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    overflow: hidden;
    padding: 2rem;
    margin: .5rem 0;
}
.dyn-comment-post-wrapper > .comment-list{
    position: relative;
    padding: 0 1rem;
    color: #E0E0E0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 50rem;
}
.dyn-admin-header{
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
}
.comment-list{
    counter-reset: comment-list;
}
.dyn-id{
    position: absolute;
    left: 0;
    top: .5rem;
    opacity: .08;
    font-size: 6em;
    color: #0d7b1c;
    line-height: 1;
    z-index: -1;
}
.dyn-id::before {
    counter-increment: comment-list;
    content: "#" counter(comment-list, decimal-leading-zero);
}
.dyn-admin-time{
    display: flex;
    align-items: flex-end;
    gap: .3rem;
}
.dyn-admin-header p{
    margin: 0;
    color: #A5A5A5;
    font-size: .65em;
}
.dyn-admin-time .dyn-comment-time{
    font-size: 1em;
    color: #A5A5A5;
    font-weight: 600;
}
.dyn-comment-header{
    display: flex;
    align-items: center;
    gap: .3rem;
    font-size: .6em;
    color: #A5A5A5;
    margin-block-end: .5rem;
}
.dyn-comment-header img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.dyn-comment-header .comments-at{
    background: #000000;
    padding: 0 0.5rem;
    border-radius: 2em;
    line-height: 2;
}
.dyn-comment-content .dyn-comment-footer{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .65em;
    margin-top: 1rem;
}
.dyn-comment-text p{
    margin: 1rem 0;
    line-height: 1.5;
    font-size: .95em;
    word-break: break-all;
    overflow-wrap: break-word;
    color: #E0E0E0;
}
.dyn-comment-content .dyn-comment-footer span{
    display: flex;
    gap: .3rem;
    align-items: center;
    line-height: 1;
    color: #A5A5A5;
}
.dyn-comment-content .dyn-comment-footer span i{
    font-size: 12px;
}
.work-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    width: 100%;
    margin: 0.5rem 0;
}
.work-grid .work-item{
    list-style: none;
    background-color: #121212;
    border-radius: 1rem;
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    padding: 1rem;
}
.work-grid .work-item .work-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    margin: 0.5rem 0;
}
.work-grid .work-image{
    border-radius: 1rem;
    overflow: hidden;
}
.work-grid .work-image img{
    border-radius: 1rem;
    filter: brightness(0.6);
    border-radius: 1rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.work-grid .work-image img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.work-grid .work-item .work-info h4{
    margin: 0;
}
/* 底部 */
.site-footer {
    position: relative;
    color: #A5A5A5;
    margin-top: .5rem;
    border-radius: 1rem;
    font-size: .75em;
    background-color: rgba(18, 18, 18, 0.9);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    border: solid 0.1rem rgba(44, 44, 44, 0.2);
    width: 100%;
}
.site-footer .footer-content{
    display: flex;
    gap: .3rem;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.wuxinghongqi{
    display: flex;
    gap: .3rem;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.footer-music{
    position: sticky;
    z-index: 9;
    background-color: #121212;
    border-radius: 1rem;
    padding: .5rem 0;
    inset: auto .5rem .5rem .5rem;
    bottom: 0;
    margin-block-start: .5rem;
}
/* 响应式调整*/
@media (min-width: 1023px) {
    .post-content .page-img_content{
        max-width: calc(100% - 28rem);
        min-width: 0;
        width: 100%;
    }
    .page-Dialect_content{
        max-width: calc(100% - 48rem);
        min-width: 0;
        width: 100%;
    }
    .selftalk_content .page-comments{
        max-width: 48rem;
        width: 100%;
    }
    .category-list .category-item{
        min-height: 18rem;
    }
    
    .link-article{
        position: sticky;
        max-width: 28rem;
        width: 100%;
        top: calc(var(--header-nav) + .5rem);
        height: fit-content;
        max-height: 100vh;
    }
    .page .page-comments .Comments-warpper{
        position: relative;
        padding: 0 1rem;
        color: #E0E0E0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 50rem;
    }
    
    .site-nav__menu .daohang{
        display: none;
    }
}
@media (max-width: 1023px) {
    .cat-group__list .cat-group__item .cat-posts{
        display: flex;
        flex-direction: column;
    }
    .post-content .page-content{
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .page-comments,
    .link-article .post__content,
    .page-main .article-video{
        padding: 1rem;
    }
    .post .post__header{
        justify-content: space-between;
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }
    .page-content .post .post-footer{
        flex-direction: column;
    }
    .page-main{
        flex-direction: column;
    }
    .category-list{
        display: flex;
        flex-direction: column;
    }
    .category .page-comments{
        display: none;
    }
    .site-footer .footer-content{
        justify-content: center;
    }
    .site-nav__menu .site-nav__dropdown{
        position: fixed;
        top: var(--header-nav,4rem);
        left: .5rem;
        right: .5rem;
        bottom: 0;
        height: 100vh;
        margin-block-start: var(--header--nav, -4rem);
        -webkit-transform: translateY(1.5rem) scale(0.9);
        transform: translateY(1.5rem) scale(0.9);
        opacity: 0;
        pointer-events: none;
        border: none;
        -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
        transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
    }
    body.nav-open{
        overflow: hidden;
    }
    body.nav-open .site-nav{
        border-radius: 1rem 1rem 0 0;
    }
    .nav-open .site-nav__menu .site-nav__dropdown{
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
        opacity: 1;
        pointer-events: all;
    }
    .site-nav__menu .site-nav__dropdown{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-open .site-nav__menu .site-nav__dropdown:before{
        content:'';
        opacity: 1;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(18, 18, 18, 0.9);
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
        -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
        transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
    }
    .page-content .schedule-item{
        flex-direction: column;
    }
    .page-content .schedule-item .schedule-note{
        margin-block-start: 1rem;
        margin-left:0 !important;
    }
    .page-content .schedule-list .schedule-item .schedule-note{
        width: 100%;
    }
    .page-link .link-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .work-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .category .page-main{
        min-height: auto;
    }
    .category .category_left{
        position: unset;
        height: fit-content;
    }
    .page-navigator{
        position: unset !important;
        justify-content: center;
    }
    .page-comments{
        max-width: inherit !important;
        max-height: none !important;
    }
    
}
@keyframes transform {
	0% {transform: var(--trfm, translateY(1rem)); transform-origin:top; }
	100% {transform: none;}
}
@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}